/* Album List View
-----------------------------------------------------------------------------*/

.album-list-view {
	background: #ffffff;
}

.album-list-view .label {
	padding-left: 50px;
}

.album-list-view .image {
	display: block;
	height: 49px;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 49px;
}

/* Album Detail View
-----------------------------------------------------------------------------*/

.album-detail-view {
	background : #ffffff;
}

.album-detail-view .image {
	-webkit-box-sizing: border-box;
	-webkit-background-size: 160px auto;
	float: left;
	background-position: center center;
	height: 76px;
	margin-top: 3px;
	margin-left: 3px;
	overflow: hidden;
	width: 76px;
}

.album-detail-view .image.down {
	opacity: 0.5;
}

.album-detail-view.reposition-images .image {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 500ms;
	-webkit-transition-timing-function: cubic-bezier(0.5,0.1,0.5,1);
	-webkit-transform: translateX(0px) translateY(0px) !important;
}

/* Album Image View
-----------------------------------------------------------------------------*/

.album-image-view {
	background: #000000;
}

.album-image-view .slides-view {
	background: #000000;
	left: 0px;
	position: absolute;
	top: 0px;}


/* Image View
-----------------------------------------------------------------------------*/

.image-view {
	background: #000000;
}

.image-view img {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
}

/* Transition Leave */

.slides-view .transition-cubic-enter.commit-transition {
	-webkit-transition-duration: 1000ms !important;
}

/* Transition Leave */

.slides-view .transition-cubic-leave.commit-transition {
	-webkit-transition-duration: 1000ms !important;
}

/* SlideShow View
-----------------------------------------------------------------------------*/

.slideshow-view,
.slideshow-view .view {
	background: #000000;
}

