<div data-role="view" data-view="Moobile.View.Scroll" data-title="Home">

	<div class="content">

		<h2>Transitions</h2>

		<div data-role="control" data-control="Moobile.UI.List" data-name="transition-list">
			<ul>
				<li data-role="control" data-control="Moobile.UI.ListItem" data-name="slide">Slide</li>
				<li data-role="control" data-control="Moobile.UI.ListItem" data-name="cubic">Cubic</li>
				<li data-role="control" data-control="Moobile.UI.ListItem" data-name="fade">Fade</li>
			</ul>
		</div>

		<br /><br />
		<br /><br />
		<br /><br />
		<br /><br />
		<br /><br />
		<br /><br />
		<br /><br />
		<br /><br />
		<br /><br />
		<br /><br />
		<br /><br />
		<br /><br />
		<br /><br />
		<br /><br />
		<br /><br />
		<br /><br />
		<br /><br />
		<br /><br />
		<br /><br />
		<br /><br />

	</div>

</div>